<div class="main__wrapper-info">
	<div class="main-info__item">
		<a href="/" class="info-link game" >
			<img src="img/game.svg" alt="" class="info-img">
			<span>Game</span>
		</a>
	</div>
	<div class="main-info__item">
		<a href="/myStats" class="info-link stats">
			<img src="img/men.svg" alt="" class="info-img">
			<span>Stats</span>
		</a>
	</div>
	<div class="main-info__item">
		<a href="/bestPlayers" class="info-link best">
			<img src="img/list.svg" alt="" class="info-img">
			<span>Best players</span>
		</a>
	</div>
	<div class="main-info__item">
		<a href="/logout" class="info-link">
			<img src="img/exit.svg" alt="" class="info-img">
			<span>Logout</span>
		</a>
	</div>
</div>

