<link rel="stylesheet" href="/css/panel.css">
	<link rel="stylesheet" href="/css/bestPlayers.css">
<div class="main__wrapper">
	{{> panel}}
	<div class="main__wrapper-field">
		<div class="stats-wrapper">
			<ul class="players-list">
				<li class="players__item">
					<div class="players-container first">
						<label>Player:<span></span></label>
						<label>Winrate:<span class="percent"></span></label>
						<label>game count:<span></span></label>
					</div>
					<span>1</span>
				</li>
				<li class="players__item">
					<div class="players-container second">
						<label>Player:<span></span></label>
						<label>Winrate:<span class="percent"></span></label>
						<label>game count:<span></span></label>
					</div>
					<span>2</span>
				</li>
				<li class="players__item">
					<div class="players-container third">
						<label>Player:<span></span></label>
						<label>Winrate:<span class="percent"></span></label>
						<label>game count:<span></span></label>
					</div>
					<span>3</span>
				</li>
				<li class="players__item">
					<div class="players-container fourth">
						<label>Player:<span></span></label>
						<label>Winrate:<span class="percent"></span></label>
						<label>game count:<span></span></label>
					</div>
					<span>4</span>
				</li>
			</ul>

		</div>
	</div>

<script src="js/bestPlayers.js"></script>