<link rel="stylesheet" href="/css/panel.css">
<link rel="stylesheet" href="/css/main-page.css" />
<div class="win win-hidden">Winner winner chiken dinner</div>
<div class="lose lose-hidden">Loser</div>
<div class="main__wrapper">
	{{> panel}}
	<div class="main__wrapper-field">
		<div class="main-field__item blue">

			<div class="field field-human">
				<div id="10"></div>
				<div id="11"></div>
				<div id="12"></div>
				<div id="13"></div>
				<div id="14"></div>
				<div id="15"></div>
				<div id="16"></div>
				<div id="17"></div>
				<div id="18"></div>
				<div id="19"></div>
				<div id="20"></div>
				<div id="21"></div>
				<div id="22"></div>
				<div id="23"></div>
				<div id="24"></div>
				<div id="25"></div>
				<div id="26"></div>
				<div id="27"></div>
				<div id="28"></div>
				<div id="29"></div>
				<div id="30"></div>
				<div id="31"></div>
				<div id="32"></div>
				<div id="33"></div>
				<div id="34"></div>
				<div id="35"></div>
				<div id="36"></div>
				<div id="37"></div>
				<div id="38"></div>
				<div id="39"></div>
				<div id="40"></div>
				<div id="41"></div>
				<div id="42"></div>
				<div id="43"></div>
				<div id="44"></div>
				<div id="45"></div>
				<div id="46"></div>
				<div id="47"></div>
				<div id="48"></div>
				<div id="49"></div>
				<div id="50"></div>
				<div id="51"></div>
				<div id="52"></div>
				<div id="53"></div>
				<div id="54"></div>
				<div id="55"></div>
				<div id="56"></div>
				<div id="57"></div>
				<div id="58"></div>
				<div id="59"></div>
				<div id="60"></div>
				<div id="61"></div>
				<div id="62"></div>
				<div id="63"></div>
				<div id="64"></div>
				<div id="65"></div>
				<div id="66"></div>
				<div id="67"></div>
				<div id="68"></div>
				<div id="69"></div>
				<div id="70"></div>
				<div id="71"></div>
				<div id="72"></div>
				<div id="73"></div>
				<div id="74"></div>
				<div id="75"></div>
				<div id="76"></div>
				<div id="77"></div>
				<div id="78"></div>
				<div id="79"></div>
				<div id="80"></div>
				<div id="81"></div>
				<div id="82"></div>
				<div id="83"></div>
				<div id="84"></div>
				<div id="85"></div>
				<div id="86"></div>
				<div id="87"></div>
				<div id="88"></div>
				<div id="89"></div>
				<div id="90"></div>
				<div id="91"></div>
				<div id="92"></div>
				<div id="93"></div>
				<div id="94"></div>
				<div id="95"></div>
				<div id="96"></div>
				<div id="97"></div>
				<div id="98"></div>
				<div id="99"></div>
				<div id="100"></div>
				<div id="101"></div>
				<div id="102"></div>
				<div id="103"></div>
				<div id="104"></div>
				<div id="105"></div>
				<div id="106"></div>
				<div id="107"></div>
				<div id="108"></div>
				<div id="109"></div>
			</div>

			<div class="main-filed__ships-wrapper" id="ships_collection">
				<div class="main-filed__ships-item four" data-number="4">
					<svg class="ship-img" version="1.0" xmlns="http://www.w3.org/2000/svg" width="1259.000000pt"
						height="1280.000000pt" viewBox="0 0 1259.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
						<g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#blue" stroke="none">
							<path d="M4692 12785 c-117 -33 -219 -119 -274 -233 -31 -63 -33 -73 -33 -177
0 -102 2 -114 31 -175 17 -36 52 -88 77 -116 l47 -52 0 -4428 0 -4429 -2205
-3 -2206 -2 118 -138 c294 -344 529 -598 868 -938 610 -612 1134 -1054 1670
-1409 652 -432 1178 -641 1697 -676 274 -19 728 -4 1093 37 1577 173 3471 893
5410 2057 509 305 1181 752 1544 1026 l55 41 -3755 2 -3754 3 -3 4430 -2 4429
29 31 c119 126 160 289 111 436 -41 120 -113 201 -227 256 -61 29 -87 36 -155
39 -54 3 -101 -1 -136 -11z" />
							<path d="M5452 11888 c452 -2355 623 -3791 605 -5068 -8 -507 -26 -771 -83
-1160 -90 -620 -263 -1182 -498 -1622 l-72 -135 3126 -6 c1718 -3 3127 -4
3129 -1 12 12 -301 700 -520 1139 -654 1315 -1394 2476 -2338 3665 -804 1013
-1851 2099 -2956 3066 -201 176 -433 374 -438 374 -2 0 18 -114 45 -252z" />
							<path d="M4220 9345 c0 -29 -82 -368 -126 -524 -277 -971 -745 -1794 -1468
-2580 -353 -384 -693 -695 -1496 -1366 -567 -474 -836 -707 -1030 -893 l-95
-91 2113 -1 2112 0 0 2735 c0 1504 -2 2735 -5 2735 -3 0 -5 -7 -5 -15z" />
						</g>
					</svg>
					<span class="ship-span">(4x cagel):</span>
					<span class="number4xForBlue"> 1</span>
				</div>
				<div class="main-filed__ships-item three" data-number="3">
					<svg class="ship-img" version="1.0" xmlns="http://www.w3.org/2000/svg" width="1259.000000pt"
						height="1280.000000pt" viewBox="0 0 1259.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
						<g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#blue" stroke="none">
							<path d="M4692 12785 c-117 -33 -219 -119 -274 -233 -31 -63 -33 -73 -33 -177
					0 -102 2 -114 31 -175 17 -36 52 -88 77 -116 l47 -52 0 -4428 0 -4429 -2205
					-3 -2206 -2 118 -138 c294 -344 529 -598 868 -938 610 -612 1134 -1054 1670
					-1409 652 -432 1178 -641 1697 -676 274 -19 728 -4 1093 37 1577 173 3471 893
					5410 2057 509 305 1181 752 1544 1026 l55 41 -3755 2 -3754 3 -3 4430 -2 4429
					29 31 c119 126 160 289 111 436 -41 120 -113 201 -227 256 -61 29 -87 36 -155
					39 -54 3 -101 -1 -136 -11z" />
							<path d="M5452 11888 c452 -2355 623 -3791 605 -5068 -8 -507 -26 -771 -83
					-1160 -90 -620 -263 -1182 -498 -1622 l-72 -135 3126 -6 c1718 -3 3127 -4
					3129 -1 12 12 -301 700 -520 1139 -654 1315 -1394 2476 -2338 3665 -804 1013
					-1851 2099 -2956 3066 -201 176 -433 374 -438 374 -2 0 18 -114 45 -252z" />
							<path d="M4220 9345 c0 -29 -82 -368 -126 -524 -277 -971 -745 -1794 -1468
					-2580 -353 -384 -693 -695 -1496 -1366 -567 -474 -836 -707 -1030 -893 l-95
					-91 2113 -1 2112 0 0 2735 c0 1504 -2 2735 -5 2735 -3 0 -5 -7 -5 -15z" />
						</g>
					</svg>
					<span class="ship-span">(3x cagel):</span>
					<span class="number3xForBlue"> 2</span>
				</div>
				<div class="main-filed__ships-item two" data-number="2">
					<svg class="ship-img" version="1.0" xmlns="http://www.w3.org/2000/svg" width="1259.000000pt"
						height="1280.000000pt" viewBox="0 0 1259.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
						<g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#blue" stroke="none">
							<path d="M4692 12785 c-117 -33 -219 -119 -274 -233 -31 -63 -33 -73 -33 -177
					0 -102 2 -114 31 -175 17 -36 52 -88 77 -116 l47 -52 0 -4428 0 -4429 -2205
					-3 -2206 -2 118 -138 c294 -344 529 -598 868 -938 610 -612 1134 -1054 1670
					-1409 652 -432 1178 -641 1697 -676 274 -19 728 -4 1093 37 1577 173 3471 893
					5410 2057 509 305 1181 752 1544 1026 l55 41 -3755 2 -3754 3 -3 4430 -2 4429
					29 31 c119 126 160 289 111 436 -41 120 -113 201 -227 256 -61 29 -87 36 -155
					39 -54 3 -101 -1 -136 -11z" />
							<path d="M5452 11888 c452 -2355 623 -3791 605 -5068 -8 -507 -26 -771 -83
					-1160 -90 -620 -263 -1182 -498 -1622 l-72 -135 3126 -6 c1718 -3 3127 -4
					3129 -1 12 12 -301 700 -520 1139 -654 1315 -1394 2476 -2338 3665 -804 1013
					-1851 2099 -2956 3066 -201 176 -433 374 -438 374 -2 0 18 -114 45 -252z" />
							<path d="M4220 9345 c0 -29 -82 -368 -126 -524 -277 -971 -745 -1794 -1468
					-2580 -353 -384 -693 -695 -1496 -1366 -567 -474 -836 -707 -1030 -893 l-95
					-91 2113 -1 2112 0 0 2735 c0 1504 -2 2735 -5 2735 -3 0 -5 -7 -5 -15z" />
						</g>
					</svg>
					<span class="ship-span">(2x cagel):</span>
					<span class="number2xForBlue"> 3</span>
				</div>
				<div class="main-filed__ships-item one" data-number="1">
					<svg class="ship-img" version="1.0" xmlns="http://www.w3.org/2000/svg" width="1259.000000pt"
						height="1280.000000pt" viewBox="0 0 1259.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
						<g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#blue" stroke="none">
							<path d="M4692 12785 c-117 -33 -219 -119 -274 -233 -31 -63 -33 -73 -33 -177
					0 -102 2 -114 31 -175 17 -36 52 -88 77 -116 l47 -52 0 -4428 0 -4429 -2205
					-3 -2206 -2 118 -138 c294 -344 529 -598 868 -938 610 -612 1134 -1054 1670
					-1409 652 -432 1178 -641 1697 -676 274 -19 728 -4 1093 37 1577 173 3471 893
					5410 2057 509 305 1181 752 1544 1026 l55 41 -3755 2 -3754 3 -3 4430 -2 4429
					29 31 c119 126 160 289 111 436 -41 120 -113 201 -227 256 -61 29 -87 36 -155
					39 -54 3 -101 -1 -136 -11z" />
							<path d="M5452 11888 c452 -2355 623 -3791 605 -5068 -8 -507 -26 -771 -83
					-1160 -90 -620 -263 -1182 -498 -1622 l-72 -135 3126 -6 c1718 -3 3127 -4
					3129 -1 12 12 -301 700 -520 1139 -654 1315 -1394 2476 -2338 3665 -804 1013
					-1851 2099 -2956 3066 -201 176 -433 374 -438 374 -2 0 18 -114 45 -252z" />
							<path d="M4220 9345 c0 -29 -82 -368 -126 -524 -277 -971 -745 -1794 -1468
					-2580 -353 -384 -693 -695 -1496 -1366 -567 -474 -836 -707 -1030 -893 l-95
					-91 2113 -1 2112 0 0 2735 c0 1504 -2 2735 -5 2735 -3 0 -5 -7 -5 -15z" />
						</g>
					</svg>
					<span class="ship-span">(1x cagel):</span>
					<span class="number1xForBlue"> 4</span>
				</div>
			</div>
		</div>
		<div class="btn-wrapper">
			<button class="main-field__btn" disabled id="play">
				<span>Fight</span>
				<img src="img/swords.svg" alt="" class="main-field__btn-img">
			</button>
			<button class="main-field__btn-place" id="arrangement">
				<span>Arrangement</span>
				{{!-- <img src="img/swords.svg" alt="" class="main-field__btn-img"> --}}
			</button>
		</div>


		<div class="main-field__item red">
			<div class="field field-computer">
				<div id="10"></div>
				<div id="11"></div>
				<div id="12"></div>
				<div id="13"></div>
				<div id="14"></div>
				<div id="15"></div>
				<div id="16"></div>
				<div id="17"></div>
				<div id="18"></div>
				<div id="19"></div>
				<div id="20"></div>
				<div id="21"></div>
				<div id="22"></div>
				<div id="23"></div>
				<div id="24"></div>
				<div id="25"></div>
				<div id="26"></div>
				<div id="27"></div>
				<div id="28"></div>
				<div id="29"></div>
				<div id="30"></div>
				<div id="31"></div>
				<div id="32"></div>
				<div id="33"></div>
				<div id="34"></div>
				<div id="35"></div>
				<div id="36"></div>
				<div id="37"></div>
				<div id="38"></div>
				<div id="39"></div>
				<div id="40"></div>
				<div id="41"></div>
				<div id="42"></div>
				<div id="43"></div>
				<div id="44"></div>
				<div id="45"></div>
				<div id="46"></div>
				<div id="47"></div>
				<div id="48"></div>
				<div id="49"></div>
				<div id="50"></div>
				<div id="51"></div>
				<div id="52"></div>
				<div id="53"></div>
				<div id="54"></div>
				<div id="55"></div>
				<div id="56"></div>
				<div id="57"></div>
				<div id="58"></div>
				<div id="59"></div>
				<div id="60"></div>
				<div id="61"></div>
				<div id="62"></div>
				<div id="63"></div>
				<div id="64"></div>
				<div id="65"></div>
				<div id="66"></div>
				<div id="67"></div>
				<div id="68"></div>
				<div id="69"></div>
				<div id="70"></div>
				<div id="71"></div>
				<div id="72"></div>
				<div id="73"></div>
				<div id="74"></div>
				<div id="75"></div>
				<div id="76"></div>
				<div id="77"></div>
				<div id="78"></div>
				<div id="79"></div>
				<div id="80"></div>
				<div id="81"></div>
				<div id="82"></div>
				<div id="83"></div>
				<div id="84"></div>
				<div id="85"></div>
				<div id="86"></div>
				<div id="87"></div>
				<div id="88"></div>
				<div id="89"></div>
				<div id="90"></div>
				<div id="91"></div>
				<div id="92"></div>
				<div id="93"></div>
				<div id="94"></div>
				<div id="95"></div>
				<div id="96"></div>
				<div id="97"></div>
				<div id="98"></div>
				<div id="99"></div>
				<div id="100"></div>
				<div id="101"></div>
				<div id="102"></div>
				<div id="103"></div>
				<div id="104"></div>
				<div id="105"></div>
				<div id="106"></div>
				<div id="107"></div>
				<div id="108"></div>
				<div id="109"></div>
			</div>
			<div class="main-filed__ships-wrapper">
				<div class="main-filed__ships-item">
					<img src="img/ship.svg" alt="" class="ship-img">
					<span class="ship-span">(4x cagel):</span>
					<span class="number4xForRed"> 1</span>
				</div>
				<div class="main-filed__ships-item">
					<img src="img/ship.svg" alt="" class="ship-img">
					<span class="ship-span">(3x cagel):</span>
					<span class="number3xForRed"> 2</span>
				</div>
				<div class="main-filed__ships-item">
					<img src="img/ship.svg" alt="" class="ship-img">
					<span class="ship-span">(2x cagel):</span>
					<span class="number2xForRed"> 3</span>
				</div>
				<div class="main-filed__ships-item">
					<img src="img/ship.svg" alt="" class="ship-img">
					<span class="ship-span">(1x cagel):</span>
					<span class="number1xForRed"> 4</span>
				</div>
			</div>
		</div>
	</div>

	<script src="js/main-page.js"></script>