<link rel="stylesheet" href="/css/panel.css">
<link rel="stylesheet" href="/css/myStats.css">

<div class="main__wrapper">
	{{> panel}}
	<div class="main__wrapper-field">
		<div class="stats-wrapper">
		<span>Game stats :</span>
		
		<ul class="stats-list">
			<li class="stats-item">
				<p>Ships destroyed:</p>
				<span></span>
			</li>
			<li class="stats-item">
				<p>4x cage:</p>
				<span></span>
			</li>
			<li class="stats-item">
				<p>2x cage:</p>
				<span></span>
			</li>
			<li class="stats-item">
				<p>3x cage:</p>
				<span></span>
			</li>
			<li class="stats-item">
				<p>1x cage:</p>
				<span></span>
			</li>
			<li class="stats-item">
				<p>Games played:</p>
				<span></span>
			</li>
			<li class="stats-item">
				<p>Win rate:</p>
				<span id = "percent"></span>
				
			</li>
		</ul>
	</div>
</div>


<script src="js/myStats.js"></script>