<link rel="stylesheet" href="/css/signin.css" />
<div class="login_wrapper">
	<div class="login_form__main">
		<form class="login_form" action="/signin">

			<div class="input__login-wrapper">
				<label for="">login</label>
				<input class="input_field" type="text" name="login" />
			</div>

			<div class="input__login-wrapper">
				<label for="">password</label>
				<input class="input_field" type="password" name="password" />
			</div>
			<div class="login_info">New to our game? <a href="/signup">Create an account</a></div>
			<div class="input_bottom">
				<button class="login_form__btn" type="submit">Sign in</button>
			</div>
		</form>
	</div>
</div>

	<script src="/js/signin.js"></script>