<link rel="stylesheet" href="/css/signup.css">

<div class="login_wrapper">
	<div class="login_form__main">
		<form class="login_form" action="/signup">

			<div class="input__login-wrapper">
				<label for="">login</label>
				<input class="input_field" type="text" name="login" />
			</div>
			<div class="input__login-wrapper">
				<label for="">password</label>
				<input class="input_field" type="password" name="password" />
			</div>
			<div class="input__login-wrapper">
				<label for="">repeat password</label>
				<input class="input_field" type="password" name="confirm_password" />
			</div>
			<div class="login_info">Already have an account? <a href="/signin">Sign in</a></div>
			<div class="input_bottom">
				<button class="login_form__btn signup_btn" type="submit">Sign in</button>
			</div>
		</form>
	</div>

		<script src="/js/signup.js"></script>