.main__wrapper-info {
	max-width: 230px;
	width: 100%;
	border: 3px solid rgb(105, 138, 188);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 20px;
}

.main-info__item {
	margin-bottom: 30px;
}

.info-img {
	width: 25px;
	height: 25px;
}

.info-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.info-link span {
	font-size: 20px;
}