.login_wrapper {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90vh;
	max-width: 500px;
}


.login_form__main {
	border: 5px solid rgb(125, 141, 187);
	padding: 15px;
}

.login_form {

	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 30px;

}

.input_field {
	border: 3px solid rgb(125, 141, 187);
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
}

.input_bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 20%;
	font-size: 12px;
	width: 90%;
	margin: 20px auto 0;
}

.login_form__post {
	text-align: center;
}

.login_form__post,
.login_form__post a {
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}

.input_checkbox {
	color: #8a7e7f;
	display: flex;
	align-items: center;
}

.login_form__btn {

	border: 3px solid rgb(125, 141, 187);
	padding: 5px;
	cursor: pointer;
	/* width: 20%; */
	color: #677881;
	font-weight: 600;
	margin-right: 1rem;
}

.login_form__btn:active {
	scale: 0.9;
}

.login_info {
	padding-top: 5px;
	font-size: 18px;
}

.login_info a {
	color: rgb(43, 105, 105);
}

.error-message {
	padding-top: 0.5rem;
	font-size: 12px;
}


.input_role {
	margin: 0 auto;
	border: 3px solid rgb(125, 141, 187);
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;

	margin-top: 5%;
	padding: 10px;
}

.input__login-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;

}